# fish ignore files
fish/functions/*
fish/completions/*
fish/conf.d/nvm.fish
fish/conf.d/sponge.fish
fish/fish_variables

# mako ignore files
mako/themes/**

# nvim ignore files
nvim/lazy-lock.json

# wlogout ignore files
wlogout/icons/**
wlogout/themes/**

# wofi ignore files
wofi/themes/**

# yazi ignore files
yazi/themes/**
yazi/plugins/**

# kvantum ignore files
Kvantum/*/
