# btop ignore files
**/btop/themes

# fish ignore files
**/fish/functions
**/fish/completions
**/fish/conf.d/nvm.fish
**/fish/conf.d/sponge.fish
**/fish/fish_variables

# nvim ignore files
**/nvim/lua/plugins/theme.lua
**/nvim/lazy-lock.json

# rofi ignore files
**/rofi/themes

# themes ignore files
themes/*/background

# yazi ignore files
**/yazi/theme.*
**/yazi/plugins

# kvantum ignore files
**/Kvantum/*/
