* {
  all: initial;
  color: @main-fg;

  border: none;
  border-radius: 0;
  min-height: 0;
}

@import "../themes/current/waybar.css";
@import "styles/fonts.css";
@import "styles/states.css";
@import "styles/modules-left.css";
@import "styles/modules-center.css";
@import "styles/modules-right.css";

/*
  br - border
  bg - background
  fg - foreground
*/

/* main colors */
@define-color accent @lavender;
@define-color main-br @subtext0;
@define-color main-bg @crust;
@define-color main-fg @text;
@define-color hover-bg @base;
@define-color hover-fg alpha(@main-fg, 0.75);
@define-color outline shade(@main-bg, 0.5);

#waybar {
  background-color: @outline;
}

#waybar > box {
  margin: 4px;
  background-color: @main-bg;
}

button {
  border-radius: 8px;
  min-width: 16px;
  padding: 0 10px;
}

button:hover {
  background-color: @hover-bg;
  color: @hover-fg;
}

tooltip {
  border: 2px solid @main-br;
  border-radius: 10px;
  background-color: @main-bg;
}

tooltip label {
  margin: 2px 4px;
  font-weight: normal;
}

tooltip decoration {
  border: none;
  background-color: transparent;
}

.hidden {
  opacity: 0;
}
